@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<h4>Add machine</h4>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Details)
  @Html.TextBoxFor(model => model.Details)

  @Html.Label("Select engineer: ")
  @Html.DropDownList("EngineerId")

  <input type="submit" value="Add Machine" />
}
<p>@Html.ActionLink("Back", "Index")</p>